.orderFeed {
  height: 100%;
  width: 100%;
}

.orderList {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  overflow-y: scroll;
  width: 100%;
  overflow-y: auto;
}
