.ingredientCard {
  position: relative;
  width: 272px;
  height: 208px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.ingredientPrice {
  display: flex;
  align-items: center;
  gap: 5px;
}

.ingredientName {
  text-align: center;
}
