.feedPage {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

.feedWrapper {
  display: flex;
  align-items: flex-start;
  height: calc(100% - 65px);
  gap: 60px;
}

.feedList {
  width: 50%;
  height: 100%;
}
