.header {
  width: 100%;
  height: 90px;
  background: var(--interface-modal-bg);
}

.header-flex {
  display: flex;
  align-items: center;
}

.wrapper {
  composes: header-flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
}

.navWrapper {
  composes: header-flex;
  gap: 135px;
}

.navMenu {
  composes: header-flex;
  gap: 8px;
}
